.places{
	display: flex;
	flex-flow: column wrap;

}

.articles{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.places h1{
	font-size: 30px;
}

article{
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
}

.heading{
	display: flex;
	justify-content: space-evenly;
}
.heading h2{
	font-size: 30px;
}

.places .price_by_night{	
	color: #ff5a5f;
	border: 4px solid #ff5a5f;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	margin-bottom: 15px;
}
.places .price_by_night p{
	margin-top: 10px;
	padding: 5px;
}

.information {
	height: 80px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	padding: 20px;
	clear: both;
	
}

.max_guest, .number_rooms, .number_bathrooms{
	display: inline-block;
	width: 100px;
}

.max_guest #icon_group, .number_rooms #icon_bed, .number_bathrooms #icon_bath {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
}
.max_guest #icon_group{
	background-image: url(../images/icon_group.png);
	
}

.number_rooms #icon_bed{
	background-image: url(../images/icon_bed.png);

}
.number_bathrooms #icon_bath{
	background-image: url(../images/icon_bath.png);

}

.user, .description {
	text-align: left;
	line-height: 1.5;
}

.places .amenities, .reviews {
	margin-top: 40px;
	text-align: left;
}

.places .amenities > h2, .reviews > h2{
	font-size: 16px;
	border-bottom: 1px solid #dddddd;
}

.places .amenities ul, .reviews ul{
	padding-left: 0;
}
.places .amenities ul li{
	margin: 2px 0;
	padding: 3px;
	justify-content: center;
	
}
.places .amenities ul, .reviews ul{
	padding-left: 0;
	
}

.icon_tv,  .icon_wifi,  .icon_pet {
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover;
	float: left;
	clear: left;
	margin-top: 5px;
	margin-right: 10px;
}
.icon_tv{
	background-image: url(../images/icon_tv.png);
}
.icon_wifi{
	background-image: url(../images/icon_wifi.png);
}
.icon_pet{
	background-image: url(../images/icon_pets.png);
}

.reviews{
	clear: both;
}

.reviews ul li h3{
	font-size: 14px;
}
.reviews ul li p{
	font-size: 12px;
	line-height: 1.5;
}