body{
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1;
	/* box-sizing: border-box; */
}

.container{
	max-width: 1000px;
	margin: 30px auto;
	margin-bottom: 100px; /**Included by my self*/
}

ul {
	list-style: none;
}